USE [master]
GO
/****** Object:  Database [LehoidantocKM]    Script Date: 04/20/2026 04:05:12 PM ******/
CREATE DATABASE [LehoidantocKM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LehoidantocKM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LehoidantocKM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LehoidantocKM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LehoidantocKM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LehoidantocKM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LehoidantocKM]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 04/20/2026 04:05:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[usename] [nvarchar](max) NULL,
	[email] [nvarchar](256) NULL,
	[password] [nvarchar](max) NULL,
	[full_name] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
	[sefl_des] [nvarchar](max) NULL,
 CONSTRAINT [PK_account] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articles]    Script Date: 04/20/2026 04:05:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articles](
	[article_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[textbody] [nvarchar](max) NULL,
	[create_time] [datetime] NULL,
	[image] [nvarchar](max) NULL,
	[user_id] [int] NULL,
	[cate_id] [int] NULL,
 CONSTRAINT [PK_articles] PRIMARY KEY CLUSTERED 
(
	[article_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 04/20/2026 04:05:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](max) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 04/20/2026 04:05:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[cmt_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[article_id] [int] NULL,
	[cmt_cotnent] [nvarchar](max) NULL,
	[create_time] [datetime] NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[cmt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 04/20/2026 04:05:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[usename] [nvarchar](max) NULL,
	[email] [nvarchar](256) NULL,
	[password] [nvarchar](max) NULL,
	[full_name] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
	[sefl_des] [nvarchar](max) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (1, N'admin2', N'admin2@gmail.com', N'admin2', N'admin2', N'', N'G')
INSERT [dbo].[accounts] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (2, N'huykhanh', N'huykhanh@gmail.com', N'huykhanh', N'huykhanh', N'', N'G')
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[articles] ON 

SET IDENTITY_INSERT [dbo].[articles] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([cate_id], [cate_name]) VALUES (6, N'Văn hóa Khmer')
INSERT [dbo].[categories] ([cate_id], [cate_name]) VALUES (10, N'Đua Ghe Ngo')
INSERT [dbo].[categories] ([cate_id], [cate_name]) VALUES (11, N'Phong tục tập quán')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([cmt_id], [user_id], [article_id], [cmt_cotnent], [create_time]) VALUES (1, 1, 2, N'Bài viết rất hay, giúp mình hiểu thêm về không khí hào hùng của hội Đua Ghe Ngo!', CAST(N'2026-07-02T09:15:00.000' AS DateTime))
INSERT [dbo].[comments] ([cmt_id], [user_id], [article_id], [cmt_cotnent], [create_time]) VALUES (2, 1, 1, N'Tết Chôl Chnăm Thmây thật sự rất vui và ý nghĩa đối với bà con quê mình.', CAST(N'2026-07-02T09:16:00.000' AS DateTime))
INSERT [dbo].[comments] ([cmt_id], [user_id], [article_id], [cmt_cotnent], [create_time]) VALUES (3, 1, 1, N'Cảm ơn tác giả đã chia sẻ những thông tin văn hóa rất hữu ích này.', CAST(N'2026-07-02T09:19:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (1, N'phamthanh', N'phamthanh@wizard.com', N'12345', N'Pham Thanh', NULL, NULL)
INSERT [dbo].[users] ([user_id], [usename], [email], [password], [full_name], [avatar], [sefl_des]) VALUES (2, N'admin', N'admin@wizard.com', N'12345', N'Adminstrator', NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  StoredProcedure [dbo].[accountlogin]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[accountlogin](
	@email nvarchar(256),
	@password nvarchar(MAX))
as 
begin
	declare @count int
	declare @res bit
	select @count = count(*) from users where email = @email and password = @password
	if @count >= 1
		set @res = 1
	else 
		set @res = 0
	select @res
end
GO
/****** Object:  StoredProcedure [dbo].[countRowArticles]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowArticles]
as
begin
	SELECT COUNT(*) FROM articles
	end
GO
/****** Object:  StoredProcedure [dbo].[countRowCategories]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowCategories]
as
begin
	SELECT COUNT(*) FROM categories
	end
GO
/****** Object:  StoredProcedure [dbo].[countRowCmt]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowCmt]
as
begin
	SELECT COUNT(*) FROM comments
	end
GO
/****** Object:  StoredProcedure [dbo].[countRowUsers]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[countRowUsers]
as
begin
	SELECT COUNT(*) FROM users
	end
GO
/****** Object:  StoredProcedure [dbo].[delete_article]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_article](@art_id INT)
AS
   DELETE FROM articles
   WHERE article_id = @art_id
GO
/****** Object:  StoredProcedure [dbo].[delete_cate]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_cate](@cateid INT)
AS
   DELETE FROM categories
   WHERE cate_id = @cateid
GO
/****** Object:  StoredProcedure [dbo].[delete_cmt]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_cmt](@cmt_id INT)
AS
   DELETE FROM comments
   WHERE cmt_id = @cmt_id
GO
/****** Object:  StoredProcedure [dbo].[delete_user]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[delete_user](@userid INT)
AS
   DELETE FROM users
   WHERE user_id = @userid
GO
/****** Object:  StoredProcedure [dbo].[findArticles]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[findArticles](
	@title nvarchar(max)
)
as
begin
	select * from articles where title like '%@title%'
	end
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Articles]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAll_Articles]
as
select * from articles
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Categories]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAll_Categories]
as 
select * from categories
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Comments]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAll_Comments]
as 
select * from comments
GO
/****** Object:  StoredProcedure [dbo].[GetAll_Users]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAll_Users]
as 
select * from users
GO
/****** Object:  StoredProcedure [dbo].[getArtById]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getArtById](
	@id int
)
as
begin
	select * from articles where article_id = @id
	end
GO
/****** Object:  StoredProcedure [dbo].[getCateById]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getCateById](
	@var_id int
)
as
begin
	select * from categories where cate_id = @var_id
	end
GO
/****** Object:  StoredProcedure [dbo].[insert_article]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insert_article](
	@title nvarchar(max),
	@textbody nvarchar(max),
	@image nvarchar(max),
	@user_id int,
	@cate_id int
)
as
begin
	insert into articles(title,textbody,create_time,image,user_id,cate_id) values(@title,@textbody,GETDATE(),@image, @user_id,@cate_id)
end
GO
/****** Object:  StoredProcedure [dbo].[insert_category]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_category](
	@name nvarchar(MAX)
)
as
begin
	insert into categories(cate_name) values(@name)
end
GO
/****** Object:  StoredProcedure [dbo].[spAccountCheckExists]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spAccountCheckExists](
	@username nvarchar(max),
	@email nvarchar(256))
as 
BEGIN
	DECLARE @count INT = 0
	select @count = COUNT(*) from accounts 
		WHERE email LIKE @email or usename LIKE @username
	select @count
end
GO
/****** Object:  StoredProcedure [dbo].[spAccountLogin]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spAccountLogin](
	@email nvarchar(256),
	@password nvarchar(MAX))
as 
begin
	select * from accounts where email LIKE @email and password = @password
end
GO
/****** Object:  StoredProcedure [dbo].[spAccountRegister]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spAccountRegister](
	@username NVARCHAR(MAX),
	@email nvarchar(256),
	@password nvarchar(MAX),
	@full_name nvarchar(MAX))
as 
begin
	INSERT INTO accounts (usename, email, password, full_name, avatar, sefl_des)
	VALUES (@username, @email, @password, @full_name, N'', N'G')
	
	SELECT * FROM accounts WHERE user_id = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[update_article]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_article](
	@article_id int,
	@title nvarchar(max),
	@textbody nvarchar(max),
	@image nvarchar(max),
	@cateid int
)
as
BEGIN
	SET NOCOUNT ON
	UPDATE [articles]
	SET    [title] = @title, [textbody] = @textbody, [image] = @image, [cate_id] = @cateid
	WHERE  [article_id] = @article_id
	
	SELECT [article_id], [title], [textbody], [create_time], [image], [user_id], [cate_id]
	FROM   [articles]
	WHERE  [article_id] = @article_id	

end
GO
/****** Object:  StoredProcedure [dbo].[update_article1]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_article1](
	@article_id int,
	@title nvarchar(max),
	@textbody nvarchar(max),
	@image nvarchar(max),
	@cateid int
)
as
BEGIN
	SET NOCOUNT ON
	UPDATE [articles]
	SET    [title] = @title, [textbody] = @textbody, [image] = @image, [cate_id] = @cateid
	WHERE  [article_id] = @article_id
	
	SELECT [article_id], [title], [textbody], [create_time], [image], [user_id], [cate_id]
	FROM   [articles]
	WHERE  [article_id] = @article_id	

end
GO
/****** Object:  StoredProcedure [dbo].[update_cate]    Script Date: 04/20/2026 04:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_cate](
	@var_id int,
	@var_name nvarchar(max)
)
as
begin
	UPDATE categories
	SET cate_name = @var_name
	WHERE cate_id = @var_id;
end
GO
USE [master]
GO
